img{
    max-width: 100%;
    display: block;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: 1000px;
    margin: 100px auto;
}

p{
     max-width: 60ch; 
}
.cover img{
    height: 100%;
    object-fit: cover;
    object-position: top left;
}