.bicicleta {
  height: 600px;
  background-color: lightblue;
  background-image: url("./img/bicicleta.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center-top;
  /* background: lightblue url("/05-Css-Propriedades/0503/img/bicicleta.jpg") */
  /* no-repeat cover center top; */
  display: flex;
}
h1 {
  margin: auto;
  background: #fff;
}

.pattern {
  height: 300px;
  background: lightcoral;
  background-image: url("./img/pattern.svg");
  background-repeat: repeat;
  /* background-size: 150px; */
}
.linear {
  height: 200px;
  background-image: linear-gradient(
    to left,
    lightblue,
    lightcoral,
    blue,
    green
  );
}
.radial {
  height: 200px;
  background-image: radial-gradient(circle, blue, red, green);
}
