h1::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background: #caf;
  margin-right: 10px;
}

ul {
  list-style: none;
}

li {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

li::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 8px;
  background: linear-gradient(#caf, #fff);
  border: 2px solid #caf;
  border-radius: 50%;
  margin-right: 10px;
}
