.px {
  font-size: 24px;
  padding: 16px 32px;
}

.rem {
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

html {
  font-size: 150%;
}

body {
  font-family: Arial;
  margin: 40px;
}

p {
  background: lightblue;
}

a {
  text-decoration: none;
  background: darkblue;
  color: white;
  display: inline-block;
}
div {
  font-size: 150%;
}

.px {
  font-size: 32px;
}

.em {
  font-size: 2em;
}

.rem {
  font-size: 2rem;
}
body {
  font-family: Arial;
  font-size: 150%;
  margin: 0px;
}

div {
  background: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 50vw;
}
body {
  margin: 0px;
}

nav {
  height: 100vh;
  background: lightblue;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 60px;
}

article {
  padding: 20px;
  width: calc(100vw - 75px);
  box-sizing: border-box;
  margin-left: 60px;
  background: lightcoral;
}

p {
  margin-bottom: 400px;
}
